#this is example of template

{% if ansible_all_ipv4_addresses | regex_search('172.31.11.56') %}
block1

{% elif  ansible_all_ipv4_addresses | regex_search('172.31.44.33') %}
block2

{% else %}
block3iiiiiiiii
ip address is {{ ansible_all_ipv4_addresses }}


{% endif %}
